@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.background-animation {
  animation: backgroundAnimation 30s infinite;
}

@keyframes backgroundAnimation {
  0% {
    background-image: url("/asset/image/image-01.webp");
  }
  20% {
    background-image: url("/asset/image/image-02.webp");
  }
  40% {
    background-image: url("/asset/image/image-03.webp");
  }
  60% {
    background-image: url("/asset/image/image-04.webp");
  }
  80% {
    background-image: url("/asset/image/image-05.webp");
  }
  100% {
    background-image: url("/asset/image/image-06.webp");
  }
}
