@tailwind base;
@tailwind components;
@tailwind utilities;


/* COMMON */
.logo-container {
  position: relative;
  width: 60px;
  height: 40px;
}
img {
  transition: all .3s;
}

/* HEADER */
.header_section .logo {
  position: relative;
  padding-right: 15px;
  margin-right: 15px;
}
.header_section .logo::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: auto;
  width: 1px;
  background-color: white;
}

/* INFO */
.info_section .logo-container {
  position: relative;
  width: 120px;
  height: 90px;
}


/* SKELETON */
.skeleton {
  border-radius: 4px;
  margin: 10px 0;
  padding: 10px;
  background-color: #eee;
}
.skeleton-image {
  width: 100%;
  height: 200px;
  background-color: #ddd;
  border-radius: 4px;
}
.skeleton-text {
  height: 20px;
  margin: 10px 0;
  background-color: #ddd;
  border-radius: 4px;
}
