.cta {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.bo-btn {
  display: inline-block;
  padding: 10px 45px;
  margin: auto;
  background-color: #0f5c09;
  color: #ffffff;
  transition: all .3s;
  border: 1px solid #0f5c09;
  border-radius: 10px;
}

.bo-btn:hover {
  background-color: white;
  color: #0f5c09;
}