.navbar-nav {
  .nav-item {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 9px;
      left: 7px;
      bottom: 0;
      right: 0;
      width: calc(100% - 14px);
      height: calc(100% - 18px);
      background-color: #26750b;
      border: 1px solid white;
      border-radius: 20px;
      opacity: 0;
      transition: opacity 0.3s ease;
    }
    &:hover {
      &::after {
        opacity: 1;
      }
    }
    a {
      z-index: 2;
    }
  }
  &.collapse {
    &:not(.show) {
      display: inherit;
      visibility: visible;
    }
  }
}